meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="today.css")
title Js Assignment
.form-style-5
  form
    fieldset
      legend
        span.number 1
        |  details 
      input(type="text", name="field1", placeholder="Your Name *")
      input(type="email", name="field2", placeholder="Your Email *")
      input(type="text", name="field2", placeholder="Your Phone *")
      textarea(name="field3", placeholder="About yourself")
      label(for="job") Interests:
      select#job(name="field4")
        optgroup(label="Indoors")
          option(value="fishkeeping") Fishkeeping
          option(value="reading") Reading
          option(value="boxing") Boxing
          option(value="debate") Debate
          option(value="gaming") Gaming
          option(value="snooker") Snooker
          option(value="other_indoor") Other
        optgroup(label="Outdoors")
          option(value="football") Football
          option(value="swimming") Swimming
          option(value="fishing") Fishing
          option(value="climbing") Climbing
          option(value="cycling") Cycling
          option(value="other_outdoor") Other
    fieldset
      legend
        span.number 2
        |  Additional Info
      textarea(name="field3", placeholder="About Your School")
    input(type="submit", value="Apply")
script.
  
  ​
  